body{
	background: url('./img/bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	font-family: Merriweather;
}

.content{
	background-color: #2f675cb3;
	padding: 15px;
	color: #fff;
}

.mycard{
	background-color: #ffffffc9;
	color: #99604d;
	padding: 15px;
	border-radius: 5px;
	box-shadow: 2px 1px 2px #99604d;
	box-sizing: border-box;
	margin-bottom: 3%;
}

.title{
	font-size: 20px;
}

.body{
	font-size: 15px;
}

.footer{
	font-size: 13px;
}
